.header {
    display: flex;
    padding: 26px 30px;

    background-color: var(--color-gray-100);
}

.header__heading {
    flex-grow: 1;
    margin: 0 32px 0 0;
}

.header__buttons {
    display: flex;
    gap: 16px;
}
