.form__fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.form__parameters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 24px;
    margin: 0 0 40px;
    padding: 0;

    list-style: none;
}

.form__additional {
    display: grid;
    gap: 16px;
    margin: 0 0 52px;
    padding: 0 calc(50% + 12px) 0 0;

    list-style: none;
}

.form__time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

.form__actions {
    display: flex;
}

.form__button {
    &:first-child {
        margin-right: auto;
    }

    & + & {
        margin-left: 16px;
    }
}
