*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "YNWA", sans-serif;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px;
    padding-right: 160px;
}

h1 {
    font-size: 36px;
    font-weight: 500;
}
