.nav {
    position: fixed;
    right: 0;
    top: 50%;

    text-align: right;

    transform: translateY(-50%);
}

.nav__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding: 0;

    list-style: none;
}

.nav__link {
    position: relative;

    display: block;
    padding: 6px 55px 6px 6px;

    color: var(--color-black);
    opacity: .25;

    font-weight: 500;
    text-decoration: none;

    transition: opacity 200ms;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;

        width: 36px;
        height: 3px;
        margin-top: -1px;

        background-color: var(--color-primary-500);

        transform-origin: 100% 0;
        transform: scaleX(.556);
        transition: transform 200ms;
    }

    &:hover {
        opacity: 1;
    }

    &:focus {
        outline: 2px solid var(--color-primary-500);
        outline-offset: 2px;
        opacity: 1;
    }

    .nav__item_active & {
        opacity: 1;

        &::after {
            transform: scaleX(1);
        }
    }
}
